<h1>Home</h1>
<div id="all">
	<h2>
	O ENEEJ 2012 (Encontro Nordestino de Empresas Juniores) ocorrerá 		na Bahia, juntando o Nordeste brasileiro ao resto do país com mais um 		evento do MEJ.
	</h2>
	<p>
	Você já pensou em abrir seu próprio negócio?
	</p>
	<p>
	Daian, ex-membro de uma das empresas juniores do Rio de Janeiro, 		utilizou sua experiência adquirida no MEJ, aliada ao seu espírito 		empreendedor, para abrir seu próprio negócio e impactar de forma 		positiva na Sociedade. Passando por várias áreas de sua empresa, ele 		foi capaz de criar uma visão global das possibilidades de atuação, o 		que o levou a decidir a área da qual poderia fazer parte. 
	</p>
</div>
